{% extends 'base.html' %}

{% block title %}{{ blogpost.title }}{% endblock %}
{% block meta_description %}{{ blogpost.title }} - {{ blogpost.intro }} Divadlo FĽOČ v Hlohovci{% endblock %}
{% block page_title %}{{ blogpost.title }}{% endblock %}
{% block page_title_description %}{{ blogpost.intro }}{% endblock %}
{% block breadcrumbs %}
    {{ macros.breadcrumb_url(url('index'), 'Domov') }}
    {{ macros.breadcrumb_url(url('blog:blogpost-list'), 'Blog') }}
    {{ macros.breadcrumb_current(blogpost.title) }}
{% endblock %}

{% block content %}
<!-- COTENT CONTAINER -->
<div class="container pt-110-b-80-cont">
    <div class="row">

        <!-- CONTENT -->
        <div class="col-sm-8 blog-main-posts">

            <!-- POST ITEM -->
            <div class="blog-post wow fadeIn pb-50">
                <!-- IMG -->
                <div class="lightbox-item mb-30">
                    <a href="{{ blogpost.image.url }}" class="lightbox">
                    <div class="port-img-overlay">
                        <img class="port-main-img" src="{{ blogpost.image.url }}" alt="img">
                    </div>
                    <div class="port-overlay-cont">
                        <div class="port-btn-cont">
                        <div aria-hidden="true" class="icon_search"></div>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="post-prev-title">
                    <h3>{{ blogpost.title }}</h3>
                </div>

                {{ macros.blogpost_info(blogpost) }}

                <div class="post-prev-text">
                    {{ blogpost.body|safe }}

                </div>

                <div class="post-prev-more-cont clearfix">
                    <div class="post-prev-more left">
                        FACEBOOK LIKES AND SHARES
                    </div>
                    <div class="right" >
                        <a href="#comments" class="post-prev-count"><span aria-hidden="true" class="icon_comment_alt"></span><span class="icon-count">21</span></a>
                    </div>
                </div>
            </div>

            <!-- AUTHOR -->
            {% set author = blogpost.author %}
            <div class="post-author-container clearfix mb-50">

                <div class="post-author-avatar">
                    <img alt="ava" src="{{ author.photo.url }}" >
                </div>

                <div class="comment-content">

                    <div class="comment-author">
                        <a href="{{ author.get_absolute_url() }}">{{ author.full_name }}</a>
                    </div>

                    <p>{{ author.bio }}</p>

                </div>
            </div>

            <!-- DIVIDER -->
            <hr class="mt-0 mb-0">

            <!-- RELATED POSTS -->
            <h4 class="blog-page-title mt-50 mb-25">ĎALŠIE PRÍSPEVKY</h4>

            <div class="row related-posts">

                {% for blogpost in related_blogposts %}
                    <div class="col-sm-6 col-md-4 col-lg-4 wow fadeIn pb-50">
                        {{ macros.blogpost_preview(blogpost, verbose=False) }}
                    </div>
                {% endfor %}

            </div>

            <!-- FACEBOOK COMMENTS -->

            <div class="mb-30">
                <div class="fb-comments" data-href="{{ settings.DOMAIN + blogpost.get_absolute_url() }}" data-numposts="5" data-colorscheme="light" data-width="100%"></div>
            </div>

        </div>

        <!-- SIDEBAR -->
        <div class="col-sm-4 col-md-3 col-md-offset-1">

            <!-- WIDGET -->
            <div class="widget">

                <h5 class="widget-title">Posledné príspevky</h5>

                <div class="widget-body">
                    <ul class="clearlist widget-posts">
                        {% for blogpost in recent_blogposts %}
                            <li class="clearfix">
                                <a href="{{ blogpost.get_absolute_url() }}">
                                    <img
                                        src="{{ get_thumbnail(blogpost.image, '85x70', crop='center').url }}"
                                        alt="Fotka pre {{ blogpost.title }}"
                                        class="widget-posts-img"
                                    >
                                </a>
                                <div class="widget-posts-descr">
                                    <a href="{{ blogpost.get_absolute_url() }}">
                                        <span class="uppercase">{{ blogpost.title }}</span>
                                    </a>
                                    {{ macros.blogpost_info(blogpost) }}
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>

            </div>

            <!-- WIDGET -->
            <div class="widget">
                <h5 class="widget-title">Zaujimavosť</h5>

                <div class="widget-body">
                    <p>Lorem ipsum dolor sit amet, cotur adcing elit. Recusandae, nostrum, cumque culpa provident aliquam commodi assumenda</p>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}