{% extends 'base.html' %}

{% block title %}Blog{% endblock %}
{% block meta_description %}Blog, novinky a najnovšie správy Divadla FĽOČ v Hlohovci{% endblock %}
{% block page_title %}Blog{% endblock %}
{% block page_title_description %}Vždy najnovšie informácie o našom divadle{% endblock %}
{% block breadcrumbs %}
    {{ macros.breadcrumb_url(url('index'), 'Domov') }}
    {{ macros.breadcrumb_current('Blog') }}
{% endblock %}

{% block content %}
<div class="container p-110-cont">
    <div class="row masonry">

        {% for blogpost in blogpost_objects %}
            <!-- Post Item -->
            <div class="col-sm-6 col-md-6 col-lg-6 pb-70">
                {{ macros.blogpost_preview(blogpost) }}
            </div>
        {% endfor %}

    </div>

    <!-- PAGINATION -->
    <div class="mt-0">
        <nav class="blog-pag">
            <ul class="pagination m-0">

                {% if page_obj.has_previous() %}
                    <li>
                        <a href="?page={{ page_obj.previous_page_number() }}">
                            <i class="fa fa-angle-left"></i>
                            <span class="sr-only">Predchádzajúce</span>
                        </a>
                    </li>
                {% endif %}

                {% for page_num in paginator.page_range %}
                    {% if page_num == page_obj.number %}
                        <li class="active"><a href="#">{{ page_num }}</a></li>
                    {% else %}
                        <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next() %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number() }}">
                            <i class="fa fa-angle-right"></i>
                            <span class="sr-only">Nasledujúce</span>
                        </a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    </div>

</div>

{% endblock %}