{% extends 'base.html' %}

{% block title %}Inscenácie{% endblock %}
{% block meta_description %}Inscenácie a hry, ktoré stvárnili herci Divadla FĽOČ v Hlohovci{% endblock %}
{% block page_title %}Inscenácie{% endblock %}
{% block page_title_description %}Hry, ktoré sme stvárnili{% endblock %}
{% block breadcrumbs %}
    {{ macros.breadcrumb_url(url('index'), 'Domov') }}
    {{ macros.breadcrumb_current('Inscenácie') }}
{% endblock %}

{% block content %}
<div class="grey-light-bg clearfix">

    <div class="container white-bg plr-30 pt-50 pb-40 ">

        <div class="relative">
            <!-- PORTFOLIO FILTER -->
            <div class="port-filter ">
                <a href="#" class="filter active" data-filter="*">Všetky</a>
                {% for year in play_years %}
                    <a href="#" class="filter" data-filter=".year-{{ year }}">{{ year }}</a>
                {% endfor %}
            </div>

            <!-- ITEMS GRID -->
            <ul class="port-grid port-grid-2 clearfix" id="items-grid">
                {% for play in play_objects %}
                    <li class="port-item mix year-{{ play.premiere_date.year }}">
                        <a href="#">
                        <div class="port-img-overlay"><img class="port-main-img" src="{{ play.image_preview.url }}" alt="{{ play.name }} náhľad" > </div>
                        </a>
                        <div class="port-overlay-cont clickable" >
                            <a href="#"></a>
                            <div class="port-title-cont ">
                                <h3>
                                    <a href="{{ url('plays:play-detail', kwargs={'slug': play.slug}) }}">
                                        {{ play.name }}
                                    </a>
                                </h3>
                                <span>{{ play.author }}</span>
                            </div>
                            <div class="port-btn-cont overview">
                            <p>
                                <b>Réžia:</b>
                                <a class="director" href="{{ url('actors:actor-list') + '#' + play.director.user.username }}">
                                    {{ play.director.full_name }}
                                </a>
                                <br>
                                <b>Premiéra:</b>
                                {{ _date(play.premiere_date|localtime, "d. m. Y") }}
                            </p>
                            </div>
                        </div>
                    </li>
                {% endfor %}

                <!-- Item 1 -->
                <li class="port-item mix development">
                    <a href="portfolio-single1.html">
                        <div class="port-img-overlay"><img class="port-main-img" src="{{ static('images/portfolio/projects-5.jpg') }}" alt="img" ></div>
                    </a>
                    <div class="port-overlay-cont">

                            <div class="port-title-cont">
                                <h3><a href="portfolio-single1.html">MINIMALISM BOOKS</a></h3>
                                <span><a href="#">ui elements</a><span class="slash-divider">/</span><a href="#">media</a></span>
                            </div>
                            <div class="port-btn-cont">
                                <a href="images/portfolio/projects-2-big.jpg" class="lightbox mr-20" ><div aria-hidden="true" class="icon_search"></div></a>
                                <a href="portfolio-single1.html"><div aria-hidden="true" class="icon_link"></div></a>
                            </div>

                    </div>
                </li>

                <!-- Item 2 -->
                <li class="port-item mix design">
                    <a href="portfolio-single1.html">
                        <div class="port-img-overlay">
                            <img class="port-main-img" src="{{ static('images/portfolio/projects-5.jpg') }}" alt="img" >
                        </div>
                    </a>
                    <div class="port-overlay-cont">

                            <div class="port-title-cont">
                                <h3><a href="portfolio-single1.html">CALENDAR</a></h3>
                                <span><a href="#">photography</a><span class="slash-divider">/</span><a href="#">media</a></span>
                            </div>
                            <div class="port-btn-cont">
                                <a href="images/portfolio/projects-2-big.jpg" class="lightbox mr-20" ><div aria-hidden="true" class="icon_search"></div></a>
                                <a href="portfolio-single1.html"><div aria-hidden="true" class="icon_link"></div></a>
                            </div>

                    </div>
                </li>

                <!-- Item 3 -->
                <li class="port-item mix photography">
                    <a href="portfolio-single1.html">
                        <div class="port-img-overlay">
                            <img class="port-main-img" src="{{ static('images/portfolio/projects-2.jpg') }}" alt="img" >
                        </div>
                    </a>
                    <div class="port-overlay-cont">

                            <div class="port-title-cont">
                                <h3><a href="portfolio-single1.html">EYES OF THE CAR</a></h3>
                                <span><a href="#">branding</a><span class="slash-divider">/</span><a href="#">marketing</a></span>
                            </div>
                            <div class="port-btn-cont">
                                <a href="images/portfolio/projects-2-big.jpg" class="lightbox mr-20" ><div aria-hidden="true" class="icon_search"></div></a>
                                <a href="portfolio-single1.html"><div aria-hidden="true" class="icon_link"></div></a>
                            </div>

                    </div>
                </li>

                <!-- Item 4 -->
                <li class="port-item mix development">
                    <a href="portfolio-single1.html">
                        <div class="port-img-overlay">
                            <img class="port-main-img" src="{{ static('images/portfolio/projects-3.jpg') }}" alt="img" >
                        </div>
                    </a>
                    <div class="port-overlay-cont">

                            <div class="port-title-cont">
                                <h3><a href="portfolio-single1.html">NOW IS NOW</a></h3>
                                <span><a href="#">design</a><span class="slash-divider">/</span><a href="#">photography</a></span>
                            </div>
                            <div class="port-btn-cont">
                                <a href="images/portfolio/projects-2-big.jpg" class="lightbox mr-20" ><div aria-hidden="true" class="icon_search"></div></a>
                                <a href="portfolio-single1.html"><div aria-hidden="true" class="icon_link"></div></a>
                            </div>

                    </div>
                </li>

                <!-- Item 5 -->
                <li class="port-item mix design">
                    <a href="portfolio-single1.html">
                        <div class="port-img-overlay">
                            <img class="port-main-img" src="{{ static('images/portfolio/projects-4.jpg') }}" alt="img" >
                        </div>
                    </a>
                    <div class="port-overlay-cont">

                            <div class="port-title-cont">
                                <h3><a href="portfolio-single1.html">EYES OF THE CAR</a></h3>
                                <span><a href="#">ui elements</a><span class="slash-divider">/</span><a href="#">media</a></span>
                            </div>
                            <div class="port-btn-cont">
                                <a href="images/portfolio/projects-2-big.jpg" class="lightbox mr-20" ><div aria-hidden="true" class="icon_search"></div></a>
                                <a href="portfolio-single1.html"><div aria-hidden="true" class="icon_link"></div></a>
                            </div>

                    </div>
                </li>

                <!-- Item 6 -->
                <li class="port-item mix photography">
                    <a href="portfolio-single1.html">
                        <div class="port-img-overlay">
                            <img class="port-main-img" src="{{ static('images/portfolio/projects-5.jpg') }}" alt="img" >
                        </div>
                    </a>
                    <div class="port-overlay-cont">

                            <div class="port-title-cont">
                                <h3><a href="portfolio-single1.html">LOVE</a></h3>
                                <span><a href="#">branding</a><span class="slash-divider">/</span><a href="#">media</a></span>
                            </div>
                            <div class="port-btn-cont">
                                <a href="images/portfolio/projects-2-big.jpg" class="lightbox mr-20" ><div aria-hidden="true" class="icon_search"></div></a>
                                <a href="portfolio-single1.html"><div aria-hidden="true" class="icon_link"></div></a>
                            </div>

                    </div>
                </li>

                <!-- Item 7 -->
                <li class="port-item mix development">
                    <a href="portfolio-single1.html">
                        <div class="port-img-overlay">
                            <img class="port-main-img" src="{{ static('images/portfolio/projects-5.jpg') }}" alt="img" >
                        </div>
                    </a>
                    <div class="port-overlay-cont">

                            <div class="port-title-cont">
                                <h3><a href="portfolio-single1.html">NOW IS NOW</a></h3>
                                <span><a href="#">design</a><span class="slash-divider">/</span><a href="#">photography</a></span>
                            </div>
                            <div class="port-btn-cont">
                                <a href="images/portfolio/projects-2-big.jpg" class="lightbox mr-20" ><div aria-hidden="true" class="icon_search"></div></a>
                                <a href="portfolio-single1.html"><div aria-hidden="true" class="icon_link"></div></a>
                            </div>

                    </div>
                </li>

                <!-- Item 8 -->
                <li class="port-item mix design">
                    <a href="portfolio-single1.html">
                        <div class="port-img-overlay">
                            <img class="port-main-img" src="{{ static('images/portfolio/projects-5.jpg') }}" alt="img" >
                        </div>
                    </a>
                    <div class="port-overlay-cont">

                            <div class="port-title-cont">
                                <h3><a href="portfolio-single1.html">EYES OF THE CAR</a></h3>
                                <span><a href="#">ui elements</a><span class="slash-divider">/</span><a href="#">media</a></span>
                            </div>
                            <div class="port-btn-cont">
                                <a href="images/portfolio/projects-2-big.jpg" class="lightbox mr-20" ><div aria-hidden="true" class="icon_search"></div></a>
                                <a href="portfolio-single1.html"><div aria-hidden="true" class="icon_link"></div></a>
                            </div>

                    </div>
                </li>

            </ul>

        </div>

    </div>

</div>
{% endblock %}