{% extends 'base.html' %}

{% block title %}{{ play.name }}{% endblock %}
{% block meta_description %}{{ play.name }} - {{ play.short_description }} Divadlo FĽOČ v Hlohovci{% endblock %}
{% block page_title %}{{ play.name }}{% endblock %}
{% block page_title_description %}{{ play.short_description }}{% endblock %}
{% block breadcrumbs %}
    {{ macros.breadcrumb_url(url('index'), 'Domov') }}
    {{ macros.breadcrumb_url(url('plays:play-list'), 'Inscenácie') }}
    {{ macros.breadcrumb_current(play.name) }}
{% endblock %}

{% block content %}
<div class="p-110-cont">

    <!-- PORTFOLIO INFO -->
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <!-- PROJECT DETAIL -->
                <div class="port-detail-cont mb-30">
                    <!-- <h4 class="blog-page-title mt-0 mb-20">O HRE</h4> -->
                    <div class="port-detail">
                        <p>
                            <strong>AUTOR:</strong>
                                {{ play.author }}
                        </p>
                        <p>
                            <strong>RÉŽIA:</strong>
                                <a href="{{ play.director.get_absolute_url() }}">
                                    {{ play.director.full_name }}
                                </a>
                        </p>
                        <p>
                            <strong>PREMIÉRA:</strong>
                                {{ _date(play.premiere_date|localtime, "j. m. Y") }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-8 mb-80">
                <p>{{ play.full_description|safe }}</p>
            </div>

        </div>

    </div>

    <!-- CAROUSEL -->
    <div class="container mb-80">

        <div class="fullwidth-slider owl-carousel owl-arrows-bg owl-dark-bg owl-pag-2" >

            {% for play_photo in play.gallery.all() %}
                <div class="item m-0">
                    <div>
                        <img alt="Fotka pre {{ play.name }}" src="{{ play_photo.image.url }}">
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 mb-40">

                <!-- CHARACTERS -->
                <h4 class="blog-page-title mt-0 mb-40">POSTAVY</h4>
                <ul>
                    {% for play_char in characters %}
                        <li>
                            {{ play_char.name }}
                            -
                            <a href="{{ play_char.actor.get_absolute_url() }}">
                                {{ play_char.actor.full_name }}
                            </a>
                        </li>
                    {% endfor %}

                </ul>

            </div>

            <div class="col-md-7 col-sm-7 mb-40">
                <h4 class="blog-page-title mt-0 mb-40">Z BLOGU</h4>
                <div class="row">
                    {% if related_blogposts %}
                        {% set blogposts = related_blogposts %}
                    {% else %}
                        {% set blogposts = recent_blogposts %}
                    {% endif %}

                    {% for blogpost in blogposts %}
                        <div class="col-md-6 col-sm-6 mb-40">
                            {{ macros.blogpost_preview(blogpost, verbose=False) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="divider-line"></div>
    </div>
    <!-- RELATED PORT ITEMS -->
    <div class="page-section mb-0 mt-60" >
        <div class="container">

            <h4 class="blog-page-title mt-0 mb-40">ĎALŠIE HRY</h4>
            <ul class="port-grid port-grid-gut clearfix" id="items-grid" style="position: relative; height: 564px;">

                {% for rel_play in other_plays %}
                    <li class="port-item mix" style="position: absolute; left: {{ loop.index*287 }}px; top: 0px;">
                        {{ macros.play_preview(rel_play, verbose=False) }}
                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>

</div>
{% endblock %}