{% extends 'base.html' %}

{% block title %}{{ play.name }}{% endblock %}
{% block meta_description %}{{ play.name }} - {{ play.short_description }} Divadlo FĽOČ v Hlohovci{% endblock %}
{% block page_title %}{{ play.name }}{% endblock %}
{% block page_title_description %}{{ play.short_description }}{% endblock %}
{% block breadcrumbs %}
    {{ macros.breadcrumb_url(url('index'), 'Domov') }}
    {{ macros.breadcrumb_url(url('plays:play-list'), 'Inscenácie') }}
    {{ macros.breadcrumb_current(play.name) }}
{% endblock %}

{% block content %}
<div class="p-110-cont">

    <!-- PORTFOLIO INFO -->
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <!-- PROJECT DETAIL -->
                <div class="port-detail-cont mb-30">
                    <!-- <h4 class="blog-page-title mt-0 mb-20">O HRE</h4> -->
                    <div class="port-detail">
                        <p>
                            <strong>AUTOR:</strong>
                                {{ play.author }}
                        </p>
                        <p>
                            <strong>RÉŽIA:</strong>
                                {{ play.director.full_name }}
                        </p>
                        <p>
                            <strong>PREMIÉRA:</strong>
                                {{ _date(play.premiere_date|localtime, "j. m. Y") }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-8 mb-80">
                <p>{{ play.full_description }}</p>
            </div>

        </div>

    </div>

    <!-- CAROUSEL -->
    <div class="container mb-80">

        <div class="fullwidth-slider owl-carousel owl-arrows-bg owl-dark-bg owl-pag-2" >

            {% for play_photo in play.gallery.all() %}
                <div class="item m-0">
                    <div>
                        <img alt="Fotka pre {{ play.name }}" src="{{ play_photo.image.url }}">
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>


    <!-- RELATED PORT ITEMS -->
    <div class="page-section mt-80 mb-0" >
        <div class="container">

            <h4 class="blog-page-title mt-0 mb-40">ĎALŠIE HRY</h4>
            <ul class="port-grid port-grid-gut clearfix" id="items-grid" style="position: relative; height: 564px;">

                <!-- Item 1 -->
                <li class="port-item mix development" style="position: absolute; left: 0px; top: 0px;">
                    <a href="portfolio-single1.html">
                        <div class="port-img-overlay"><img class="port-main-img" src="{{ static('images/portfolio/projects-5.jpg') }}" alt="img"></div>
                    </a>
                    <div class="port-overlay-cont">

                            <div class="port-title-cont">
                                <h3><a href="portfolio-single1.html">MINIMALISM BOOKS</a></h3>
                                <span><a href="#">ui elements</a><span class="slash-divider">/</span><a href="#">media</a></span>
                            </div>
                            <div class="port-btn-cont">
                                <a href="images/portfolio/projects-2-big.jpg" class="lightbox mr-20"><div aria-hidden="true" class="icon_search"></div></a>
                                <a href="portfolio-single1.html"><div aria-hidden="true" class="icon_link"></div></a>
                            </div>

                    </div>
                </li>

                <!-- Item 2 -->
                <li class="port-item mix design" style="position: absolute; left: 287px; top: 0px;">
                    <a href="portfolio-single1.html">
                        <div class="port-img-overlay">
                            <img class="port-main-img" src="images/portfolio/projects-3.jpg" alt="img">
                        </div>
                    </a>
                    <div class="port-overlay-cont">

                            <div class="port-title-cont">
                                <h3><a href="portfolio-single1.html">CALENDAR</a></h3>
                                <span><a href="#">photography</a><span class="slash-divider">/</span><a href="#">media</a></span>
                            </div>
                            <div class="port-btn-cont">
                                <a href="images/portfolio/projects-2-big.jpg" class="lightbox mr-20"><div aria-hidden="true" class="icon_search"></div></a>
                                <a href="portfolio-single1.html"><div aria-hidden="true" class="icon_link"></div></a>
                            </div>

                    </div>
                </li>

                <!-- Item 3 -->
                <li class="port-item mix photography" style="position: absolute; left: 575px; top: 0px;">
                    <a href="portfolio-single1.html">
                        <div class="port-img-overlay">
                            <img class="port-main-img" src="images/portfolio/projects-1.jpg" alt="img">
                        </div>
                    </a>
                    <div class="port-overlay-cont">

                            <div class="port-title-cont">
                                <h3><a href="portfolio-single1.html">EYES OF THE CAR</a></h3>
                                <span><a href="#">branding</a><span class="slash-divider">/</span><a href="#">marketing</a></span>
                            </div>
                            <div class="port-btn-cont">
                                <a href="images/portfolio/projects-2-big.jpg" class="lightbox mr-20"><div aria-hidden="true" class="icon_search"></div></a>
                                <a href="portfolio-single1.html"><div aria-hidden="true" class="icon_link"></div></a>
                            </div>

                    </div>
                </li>

                <!-- Item 4 -->
                <li class="port-item mix development" style="position: absolute; left: 862px; top: 0px;">
                    <a href="portfolio-single1.html">
                        <div class="port-img-overlay">
                            <img class="port-main-img" src="images/portfolio/projects-6.jpg" alt="img">
                        </div>
                    </a>
                    <div class="port-overlay-cont">

                            <div class="port-title-cont">
                                <h3><a href="portfolio-single1.html">NOW IS NOW</a></h3>
                                <span><a href="#">design</a><span class="slash-divider">/</span><a href="#">photography</a></span>
                            </div>
                            <div class="port-btn-cont">
                                <a href="images/portfolio/projects-2-big.jpg" class="lightbox mr-20"><div aria-hidden="true" class="icon_search"></div></a>
                                <a href="portfolio-single1.html"><div aria-hidden="true" class="icon_link"></div></a>
                            </div>

                    </div>
                </li>

            </ul>
        </div>
    </div>

</div>
{% endblock %}