{% extends 'base.html' %}

{% block title %}Inscenácie{% endblock %}
{% block meta_description %}Inscenácie a hry, ktoré stvárnili herci Divadla FĽOČ v Hlohovci{% endblock %}
{% block page_title %}Inscenácie{% endblock %}
{% block page_title_description %}Hry, ktoré sme stvárnili{% endblock %}
{% block breadcrumbs %}
    {{ macros.breadcrumb_url(url('index'), 'Domov') }}
    {{ macros.breadcrumb_current('Inscenácie') }}
{% endblock %}

{% block content %}
<div class="grey-light-bg clearfix">

    <div class="container white-bg plr-30 pt-50 pb-80 ">

        <div class="relative">
            <!-- PORTFOLIO FILTER -->
            <div class="port-filter ">
                <a href="#" class="filter active" data-filter="*">Všetky</a>
                {% for year in play_years %}
                    <a href="#" class="filter" data-filter=".year-{{ year }}">{{ year }}</a>
                {% endfor %}
            </div>

            <!-- ITEMS GRID -->
            <ul class="port-grid port-grid-2 clearfix" id="items-grid">

                {% for play in play_objects %}
                    <li class="port-item mix year-{{ play.premiere_date.year }}">
                        <a href="#">
                        <div class="port-img-overlay"><img class="port-main-img" src="{{ play.image_preview.url }}" alt="{{ play.name }} náhľad" > </div>
                        </a>
                        <div class="port-overlay-cont" >
                            <div class="port-title-cont ">
                                <h3>
                                    <a href="{{ url('plays:play-detail', kwargs={'slug': play.slug}) }}">
                                        {{ play.name }}
                                    </a>
                                </h3>
                                <span>{{ play.author }}</span>
                            </div>
                            <div class="port-btn-cont overview">
                            <p>
                                <b>Réžia:</b>
                                <a class="director" href="{{ url('actors:actor-list') + '#' + play.director.user.username }}">
                                    {{ play.director.full_name }}
                                </a>
                                <br>
                                <b>Premiéra:</b>
                                {{ _date(play.premiere_date|localtime, "d. m. Y") }}
                            </p>
                            </div>
                        </div>
                    </li>
                {% endfor %}

            </ul>

        </div>

    </div>

</div>
{% endblock %}