{% extends 'base.html' %}

{% block title %}Program{% endblock %}
{% block meta_description %}Program a najbližšie predstavenia Divadla FĽOČ v Hlohovci{% endblock %}
{% block page_title %}Program{% endblock %}
{% block page_title_description %}Kde nás môžete vidieť?{% endblock %}
{% block breadcrumbs %}
    {{ macros.breadcrumb_url(url('index'), 'Domov') }}
    {{ macros.breadcrumb_current('Program') }}
{% endblock %}

{% macro render_single_show(show) %}
<div class="col-md-12 wow fadeIn pb-30" >
    <div class="row">

        <div class="col-md-4 blog2-post-title-cont">
            <div class="post-prev-date-cont">
                <span class="blog2-date-numb">{{ _date(show.start_time|localtime, 'd') }}</span><span class="blog2-month">{{ _date(show.start_time|localtime, 'F')|capitalize }}</span>
                <div class="blog2-time">
                    <i class="fa fa-clock-o blog2-clock" aria-hidden="true"></i>
                    <span class="blog2-hour">{{ _date(show.start_time|localtime, 'H') }}</span>
                    <span class="blog2-minutes">{{ _date(show.start_time|localtime, 'i') }}</span>
                </div>
            </div>
            <div class="post-prev-title">
                <h3><a href="#">{{ show.play.name }}</a></h3>
                <div class="post-prev-info">
                    <span class="fake-a" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{{ show.location_verbose }}">
                        {{ show.location }}
                    </span>
                </div>
                <div>
                    <span class="icon icon-ecommerce-ticket black"></span>
                    <span class="ticket-price">
                        {% if show.price == 0.00 %}
                            Vstupné dobrovoľné
                        {% else %}
                            Cena lístka: {{ show.price }}€
                        {% endif %}
                    </span>
               </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="blog2-post-prev-text">
                {{ show.description }}
            </div>
        </div>

    </div>
</div>
{% endmacro %}

{% if show_all %}
mb-100
{% endif %}

{% block content %}
<div class="container pt-100-cont">

    <div class="mb-50">
        <h2 class="section-title pr-0">NAJBLIŽŠIE <span class="bold">VYSTÚPENIA</span></h2>
    </div>

    <div class="row">
        {% if upcoming_shows %}
            {% for show in upcoming_shows %}
                {{ render_single_show(show) }}
            {% endfor %}
        {% else %}
            <p class="no-upcoming">
                Práve nemáme naplánované žiadne vystúpenie.
                <a href="{{ url('contact') }}"> Chceli by ste nás vidieť vo vašej obci?</a>
            </p>
        {% endif %}
    </div>
</div>

<div class="container pt-80 {% if show_all %}mb-80{% endif %}">
    <div class="mb-50">
        <h2 class="section-title pr-0">STARŠIE <span class="bold">VYSTÚPENIA</span></h2>
    </div>

    <div class="row">
        {% for show in past_shows %}
            {{ render_single_show(show) }}
        {% endfor %}
    </div>
</div>

{% if not show_all %}
    <!-- VIEW MORE  -->
    <div class="port-view-more-cont">
        <a class="port-view-more" href="{{ url('shows:show-list') }}?all=1">STARŠIE</a>
    </div>
{% endif %}

{% endblock %}