{% extends 'base.html' %}

{% set active_page='shows:show_list' %}
{% block title %}Program{% endblock %}
{% block meta_description %}Program a najbližšie predstavenia Divadla FĽOČ v Hlohovci{% endblock %}
{% block page_title %}Program{% endblock %}
{% block page_title_description %}Kde nás môžete vidieť?{% endblock %}
{% block breadcrumbs %}
    {{ macros.breadcrumb_url(url('index'), 'Domov') }}
    {{ macros.breadcrumb_current('Program') }}
{% endblock %}

{% block content %}
<div class="container pt-100-cont">

    <div class="mb-50">
        <h2 class="section-title pr-0">NAJBLIŽŠIE <span class="bold">VYSTÚPENIA</span></h2>
    </div>

    <div class="row">
        <!-- Post Item 1 -->
        <div class="col-md-12 wow fadeIn pb-30" >
            <div class="row">

                <div class="col-md-4 blog2-post-title-cont">
                    <div class="post-prev-date-cont">
                        <span class="blog2-date-numb">21</span><span class="blog2-month">October</span>
                        <div class="blog2-time">
                            <i class="fa fa-clock-o blog2-clock" aria-hidden="true"></i>
                            <span class="blog2-hour">19</span>
                            <span class="blog2-minutes">00</span>
                        </div>
                    </div>
                    <div class="post-prev-title">
                        <h3><a href="blog-single-sidebar-right.html">čertice</a></h3>
                        <div class="post-prev-info">
                            <span class="fake-a" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Empírove Divadlo, Jesenského ulica 232, 920 01 Hlohovec">Empírove divadlo Hlohovec</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="blog2-post-prev-text">
                        Čertice sa vracajú do Empírového divadla, príďte si spríjemniť sobotný večer do Kiodži s našim fraštáckymi divadelníkmi. Do mesta sa vracajú rybári, všetko však zapletie mladý Toffolo. Láska zamotá hlavy aj tvrdému Titta-Nanemu.
                    </div>
                </div>

            </div>
        </div>

        <!-- Post Item 2 -->
        <div class="col-md-12 wow fadeIn pb-30" >
            <div class="row">

                <div class="col-md-4 blog2-post-title-cont">
                    <div class="post-prev-date-cont">
                        <span class="blog2-date-numb">17</span><span class="blog2-month">August</span>
                        <div class="blog2-time">
                            <i class="fa fa-clock-o blog2-clock" aria-hidden="true"></i>
                            <span class="blog2-hour">21</span>
                            <span class="blog2-minutes">30</span>
                        </div>
                    </div>
                    <div class="post-prev-title">
                        <h3><a href="blog-single-sidebar-right.html">čertice</a></h3>
                        <div class="post-prev-info">
                            <span class="fake-a" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Empírove Divadlo, Jesenského ulica 232, 920 01 Hlohovec">Empírove divadlo Hlohovec</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="blog2-post-prev-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, excepturi modi cupiditate ipsam molestiae eveniet incidunt nostrum atque alias dicta? Quos, quisquam iusto numquam dicta vel voluptatem aperiam voluptas similique!
                    </div>
                </div>

            </div>
        </div>

        <!-- Post Item 3 -->
        <div class="col-md-12 wow fadeIn pb-30" >
            <div class="row">

                <div class="col-md-4 blog2-post-title-cont">
                    <div class="post-prev-date-cont">
                        <span class="blog2-date-numb">1</span><span class="blog2-month">August</span>
                        <div class="blog2-time">
                            <i class="fa fa-clock-o blog2-clock" aria-hidden="true"></i>
                            <span class="blog2-hour">20</span>
                            <span class="blog2-minutes">20</span>
                        </div>
                    </div>
                    <div class="post-prev-title">
                        <h3><a href="blog-single-sidebar-right.html">čertice</a></h3>
                        <div class="post-prev-info">
                            <span class="fake-a" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Empírove Divadlo, Jesenského ulica 232, 920 01 Hlohovec">Kultúrny dom Zlaté Húty</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="blog2-post-prev-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, excepturi modi cupiditate ipsam molestiae eveniet incidunt nostrum atque alias dicta? Quos, quisquam iusto numquam dicta vel voluptatem aperiam voluptas similique!
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container pt-80">
    <div class="mb-50">
        <h2 class="section-title pr-0">STARŠIE <span class="bold">VYSTÚPENIA</span></h2>
    </div>

    <div class="row">
        <!-- Post Item 1 -->
        <div class="col-md-12 wow fadeIn pb-30" >
            <div class="row">

                <div class="col-md-4 blog2-post-title-cont">
                    <div class="post-prev-date-cont">
                        <span class="blog2-date-numb">21</span><span class="blog2-month">October</span>
                        <div class="blog2-time">
                            <i class="fa fa-clock-o blog2-clock" aria-hidden="true"></i>
                            <span class="blog2-hour">19</span>
                            <span class="blog2-minutes">00</span>
                        </div>
                    </div>
                    <div class="post-prev-title">
                        <h3><a href="blog-single-sidebar-right.html">čertice</a></h3>
                        <div class="post-prev-info">
                            <span class="fake-a" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Empírove Divadlo, Jesenského ulica 232, 920 01 Hlohovec">Empírove divadlo Hlohovec</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="blog2-post-prev-text">
                        Čertice sa vracajú do Empírového divadla, príďte si spríjemniť sobotný večer do Kiodži s našim fraštáckymi divadelníkmi. Do mesta sa vracajú rybári, všetko však zapletie mladý Toffolo. Láska zamotá hlavy aj tvrdému Titta-Nanemu.
                    </div>
                </div>

            </div>
        </div>

        <!-- Post Item 2 -->
        <div class="col-md-12 wow fadeIn pb-30" >
            <div class="row">

                <div class="col-md-4 blog2-post-title-cont">
                    <div class="post-prev-date-cont">
                        <span class="blog2-date-numb">17</span><span class="blog2-month">August</span>
                        <div class="blog2-time">
                            <i class="fa fa-clock-o blog2-clock" aria-hidden="true"></i>
                            <span class="blog2-hour">21</span>
                            <span class="blog2-minutes">30</span>
                        </div>
                    </div>
                    <div class="post-prev-title">
                        <h3><a href="blog-single-sidebar-right.html">čertice</a></h3>
                        <div class="post-prev-info">
                            <span class="fake-a" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Empírove Divadlo, Jesenského ulica 232, 920 01 Hlohovec">Empírove divadlo Hlohovec</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="blog2-post-prev-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, excepturi modi cupiditate ipsam molestiae eveniet incidunt nostrum atque alias dicta? Quos, quisquam iusto numquam dicta vel voluptatem aperiam voluptas similique!
                    </div>
                </div>

            </div>
        </div>

        <!-- Post Item 3 -->
        <div class="col-md-12 wow fadeIn pb-30" >
            <div class="row">

                <div class="col-md-4 blog2-post-title-cont">
                    <div class="post-prev-date-cont">
                        <span class="blog2-date-numb">1</span><span class="blog2-month">August</span>
                        <div class="blog2-time">
                            <i class="fa fa-clock-o blog2-clock" aria-hidden="true"></i>
                            <span class="blog2-hour">20</span>
                            <span class="blog2-minutes">20</span>
                        </div>
                    </div>
                    <div class="post-prev-title">
                        <h3><a href="blog-single-sidebar-right.html">čertice</a></h3>
                        <div class="post-prev-info">
                            <span class="fake-a" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Empírove Divadlo, Jesenského ulica 232, 920 01 Hlohovec">Kultúrny dom Zlaté Húty</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="blog2-post-prev-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, excepturi modi cupiditate ipsam molestiae eveniet incidunt nostrum atque alias dicta? Quos, quisquam iusto numquam dicta vel voluptatem aperiam voluptas similique!
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- VIEW MORE  -->
<div class="port-view-more-cont">
    <a class="port-view-more" href="portfolio-4-col-masonry.html">VŠETKY VYSTÚPENIA</a>
</div>
{% endblock %}