{% macro current(id) %}
    {% if active_page == id %}
        current
    {% endif %}
{% endmacro %}

<!-- HEADER 1 NO-TRANSPARENT -->
<header id="nav" class="header header-1 no-transparent mobile-no-transparent">

    <div class="header-wrapper">
    <div class="container-m-30 clearfix">
        <div class="logo-row">

        <!-- LOGO -->
        <div class="logo-container-2">
                <div class="logo-2">
                    <a href="{{ url('index') }}" class="clearfix">
                        <img src="{{ static('images/logo.png') }}" class="logo-img" alt="Logo">
                    </a>
                </div>
            </div>
        <!-- BUTTON -->
        <div class="menu-btn-respons-container">
            <button type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse">
                <span aria-hidden="true" class="icon_menu hamb-mob-icon"></span>
            </button>
        </div>
     </div>
    </div>

    <!-- MAIN MENU CONTAINER -->
    <div class="main-menu-container">

        <div class="container-m-30 clearfix">

            <!-- MAIN MENU -->
            <div id="main-menu">
                <div class="navbar navbar-default" role="navigation">

                <!-- MAIN MENU LIST -->
                <nav class="collapse collapsing navbar-collapse right-1024">
                    <ul class="nav navbar-nav">

                        {% for pattern, caption in navigation_bar %}
                            <li class="parent {{ current(pattern) }}">
                                <a href="{{ url(pattern) }}"><div class="main-menu-title">{{ caption|e }}</div></a>
                            </li>
                        {% endfor %}
                        <li class="parent">
                            <a href="/"><div class="main-menu-title">MAPKA</div></a>
                        </li>
                        <li class="parent">
                            <a href="/"><div class="main-menu-title">O JANOVI</div></a>
                        </li>
                        <li class="parent">
                            <a href="/"><div class="main-menu-title">ALE NO</div></a>
                        </li>
                        <li class="parent">
                            <a href="/"><div class="main-menu-title">JASKA</div></a>
                        </li>
                        <li class="parent">
                            <a href="/"><div class="main-menu-title">PASKA</div></a>
                        </li>

                    </ul>

                </nav>

                </div>
            </div>
            <!-- END main-menu -->

        </div>
        <!-- END container-m-30 -->

    </div>
    <!-- END main-menu-container -->

    <!-- SEARCH READ DOCUMENTATION -->
    <ul class="cd-header-buttons">
        <li><a class="cd-search-trigger" href="#cd-search"><span></span></a></li>
    </ul> <!-- cd-header-buttons -->
    <div id="cd-search" class="cd-search">
        <form class="form-search" id="searchForm" action="page-search-results.html" method="get">
            <input type="text" value="" name="q" id="q" placeholder="Hľadať...">
        </form>
    </div>

    </div>
    <!-- END header-wrapper -->

</header>