{#
    uri == '/' is a special case for index page, because
    every page starts with '/'. Shame on me.
#}

{% macro current(uri) %}
    {% if uri == '/' %}
        {% if request.path == uri %}
            current
        {% endif %}
    {% elif startswith(request.path, uri) %}
        current
    {% endif %}
{% endmacro %}

{% macro render_sub(parent_uri, parent_sub) %}
    {% for uri, caption, sub in parent_sub %}
        {% if sub %}
            <li class="parent">
                <a href="#" class="{{ current(uri) }}">{{ caption|e }}</a>
                <ul class="sub">
                    {{ render_sub(uri, sub) }}
                </ul>
            </li>
        {% else %}
            <li>
                <a href="{{ uri }}" class="{{ current(uri) }}">{{ caption|e }}</a>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

<!-- HEADER 1 NO-TRANSPARENT -->
<header id="nav" class="header header-1 no-transparent mobile-no-transparent">

    <div class="header-wrapper">
    <div class="container-m-30 clearfix">
        <div class="logo-row">

        <!-- LOGO -->
        <div class="logo-container-2">
                <div class="logo-2">
                    <a href="{{ url('index') }}" class="clearfix">
                        <img src="{{ static('images/logo.png') }}" class="logo-img" alt="Logo">
                    </a>
                </div>
            </div>
        <!-- BUTTON -->
        <div class="menu-btn-respons-container">
            <button type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse">
                <span aria-hidden="true" class="icon_menu hamb-mob-icon"></span>
            </button>
        </div>
     </div>
    </div>

    <!-- MAIN MENU CONTAINER -->
    <div class="main-menu-container">

        <div class="container-m-30 clearfix">

            <!-- MAIN MENU -->
            <div id="main-menu">
                <div class="navbar navbar-default" role="navigation">

                <!-- MAIN MENU LIST -->
                <nav class="collapse collapsing navbar-collapse right-1024">
                    <ul class="nav navbar-nav">
                        {% for uri, caption, sub in navigation_bar %}

                            {% if sub %}
                                <li class="parent {{ current(uri) }}">
                                    <a href="#"><div class="main-menu-title">{{ caption|e }}</div></a>
                                    <ul class="sub">
                                        {{ render_sub(uri, sub) }}
                                    </ul>
                                </li>
                            {% else %}
                                <li class="{{ current(uri) }}">
                                    <a href="{{ uri }}"><div class="main-menu-title">{{ caption|e }}</div></a>
                                </li>
                            {% endif %}

                        {% endfor %}
                    </ul>

                </nav>

                </div>
            </div>
            <!-- END main-menu -->

        </div>
        <!-- END container-m-30 -->

    </div>
    <!-- END main-menu-container -->

    <!-- SEARCH READ DOCUMENTATION -->
    <ul class="cd-header-buttons">
        <li><a class="cd-search-trigger" href="#cd-search"><span></span></a></li>
    </ul> <!-- cd-header-buttons -->
    <div id="cd-search" class="cd-search">
        <form class="form-search" id="searchForm" action="page-search-results.html" method="get">
            <input type="text" value="" name="q" id="q" placeholder="Hľadať...">
        </form>
    </div>

    </div>
    <!-- END header-wrapper -->

</header>