{% extends 'base.html' %}

{% set show_page_title=0 %}

{% block title %}FLOČ{% endblock %}
{% block meta_description %}Domovská stránka ochotníckeho divadla FLOČ v Hlohovci{% endblock %}

{% block content %}
<!-- FLEX SLIDER -->
<div class="indent-header">
    <div class="slider-1 clearfix">

        <div class="flex-container">
            <div class="flexslider loading">
                <ul class="slides">

                    <!-- SLIDE 1 -->
                    <li style="background:url({{ static('images/flexslider/slider-bg-1.jpg') }}) no-repeat;background-position:50% 0">

                        <div class="container">
                            <div class="sixteen columns contain">
                                <h2 data-toptitle="38%" class="norm-50-wide norm-40-768-959 font-light top-28-767 flex-top-bot" >OCHOTNÍCI Z<br><span class="bold">FLOČ</span></h2>
                                <p data-bottomtext="30%" class="bot-15-767 flex-bot-top"><a class="button medium thin hover-dark tp-button white" href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel">SEE MORE</a><a class="button medium thin hover-dark tp-button white ml-20" href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel">PURCHASE</a></p>
                                <img src="{{ static('images/flexslider/slider-item-1.png') }}" class="item" alt="slide-item"  data-topimage="19%"/>
                            </div>
                        </div><!-- End Container -->

                    </li><!-- End item -->

                    <!-- SLIDE 2 -->
                    <li style="background:url({{ static('images/flexslider/slider-bg-2.jpg') }}) no-repeat; background-position:50% 0">

                        <div class="container">
                            <div class="sixteen columns contain">
                                <h2 data-toptitle="44%" class="norm-50-wide text-center font-white flex-top-bot"><span class="slider-caption-border">FRAŠTÁK</span></h2>
                            </div>
                        </div><!-- End Container -->

                    </li><!-- End item -->

                    <!-- SLIDE 3 -->
                    <li style="background:url({{ static('images/flexslider/slider-bg-3.jpg') }}) no-repeat; background-position:50% 0">

                        <div class="container">
                            <div class="sixteen columns contain">
                                <h2 data-toptitle="40%" class="norm-50-wide norm-40-768-959 top-34-767 font-light font-black flex-top-bot">CREATIVE STUDIO<br></h2>
                                <p data-bottomtext="40%" class="norm-50-wide norm-40-768-959 bot-34-767 font-black flex-bot-top"><span class="bold">HASWELL</span></p>
                                <img src="images/flexslider/jump-men.png" class="item" alt="slide-item" data-topimage="0%"/>
                            </div>
                        </div><!-- End Container -->

                    </li><!-- End item -->


                </ul>
            </div>
        </div>

    </div><!-- End slider -->
</div>

<!-- FEATURES 6 -->
<div class="page-section pt-120-b-100-cont">
    <div class="container">
        <div class="row">

            <div class="col-md-3 pb-20">
                <h2 class="section-title wow fadeIn"><span class="bold">F</span>RAŠTÁCKA<br><span class="bold">Ľ</span>AHKOVÁŽNA<br><span class="bold">O</span>HOTNÍCKA<br><span class="bold">Č</span>INOHRA</h2>
            </div>

            <div class="col-md-9">
                <div class="row">

                    <div class="col-md-3 col-sm-3">
                        <div class="fes11-box wow fadeIn" >
                            <div class="">
                                <img src="{{ static('images/floc-explained/frastacka.gif') }}">
                            </div>
                            <h3>FRAŠTÁCKA</h3>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class="fes11-box wow fadeIn" data-wow-delay="200ms">
                            <div class="">
                                <img src="{{ static('images/floc-explained/lahkovazna.gif') }}">
                            </div>
                            <h3>ĽAHKOVÁŽNA</h3>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class="fes11-box wow fadeIn" data-wow-delay="400ms" >
                            <div class="">
                                <img src="{{ static('images/floc-explained/ochotnicka.gif') }}">
                            </div>
                            <h3>OCHOTNÍCKA</h3>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class="fes11-box wow fadeIn" data-wow-delay="600ms" >
                            <div class="">
                                <img src="{{ static('images/floc-explained/cinohra.gif') }}">
                            </div>
                            <h3>ČINOHRA</h3>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-12 col-sm-12">
                        <div class="floc-explained wow fadeIn" data-wow-delay="800ms">
                           <p><a href="http://www.slex.sk/index.asp?key=flocit">fľočiť</a> nedok. expr. fľochať, zazerať, gániť: fľočí na ľudí</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- FEATURES 7 -->
<div class="page-section grey-light-bg clearfix">
    <div class="fes7-img-cont col-md-5">
        <div class="fes7-img" style="background-image: url({{ static('images/fes7.jpg') }}" ></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 fes7-text-cont p-80-cont">
                <h1><span class="font-light">Nulla varius faucibus vestibulum. Sed imperdiet, tellus at iaculis</span></h1>
                <p class="mb-60">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </p>

                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <div class="fes7-box wow fadeIn" >
                            <div class="fes7-box-icon">
                                <div class="icon icon-ecommerce-graph-increase"></div>
                            </div>
                            <h3>SEO Friendly</h3>
                            <p>Sed ut perspiciatis unde omnis iste nat eror acus  antium que</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="fes7-box wow fadeIn" data-wow-delay="200ms">
                            <div class="fes7-box-icon">
                                <div class="icon icon-software-font-smallcaps"></div>
                            </div>
                            <h3>Google Fonts</h3>
                            <p>Sed ut perspiciatis unde omnis iste nat eror acus  antium que</p>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <div class="fes7-box wow fadeIn" data-wow-delay="400ms">
                            <div class="fes7-box-icon">
                                <div class="icon icon-basic-mixer2"></div>
                            </div>
                            <h3>Tons of Shortcodes</h3>
                            <p>Sed ut perspiciatis unde omnis iste nat eror acus  antium que</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="fes7-box wow fadeIn"  data-wow-delay="600ms">
                            <div class="fes7-box-icon">
                                <div class="icon icon-basic-bolt"></div>
                            </div>
                            <h3>1500+ Icons</h3>
                            <p>Sed ut perspiciatis unde omnis iste nat eror acus  antium que</p>
                        </div>
                    </div>

                </div>

            </div>
        </div><!--end of row-->
    </div>
</div>

<!-- SHOWS -->
<div class="page-section pt-110-cont">
    <div class="container">

        <div class="mb-50">
            <h2 class="section-title pr-0">NAJBLIŽŠÍ <span class="bold">PROGRAM</span><a href="{{ url('shows:show-list') }}" class="section-more right">PROGRAM</a>
                    </h2>
        </div>

        <div class="row">
            {{ macros.render_shows_or_message(upcoming_shows_limit_3) }}
        </div>

    </div>
</div>

<!-- VIEW MORE  -->
<div class="port-view-more-cont">
    <a class="port-view-more" href="{{ url('shows:show-list') }}">CELÝ PROGRAM</a>
</div>

<!-- COUNTERS 1 -->
<div id="counter-1" class="page-section p-80-cont">
    <div class="container">

        <div  class="row text-center">

            <!-- Item -->
            <div class="col-xs-6 col-sm-3">
                <div class="count-number">
                    {{ counters['actors'] }}
                </div>
                <div class="count-descr">
                    <span class="count-title">
                        <a href="{{ url('actors:actor-list') }}">
                            HERCOV
                        </a>
                    </span>
                </div>
            </div>

            <!-- Item -->
            <div class="col-xs-6 col-sm-3">
                <div class="count-number">
                    {{ counters['plays'] }}
                </div>
                <div class="count-descr">
                    <span class="count-title">
                        <a href="{{ url('plays:play-list') }}">
                            {% if counters['plays'] == 1 %}
                                INSCENÁCIA
                            {% elif counters['plays'] <= 4 %}
                                INSCENÁCIE
                            {% else %}
                                INSCENÁCIÍ
                            {% endif %}
                        </a>
                    </span>
                </div>
            </div>

            <!-- Item -->
            <div class="col-xs-6 col-sm-3">
                <div class="count-number">
                    {{ counters['shows'] }}
                </div>
                <div class="count-descr">

                    <span class="count-title">
                        <a href="{{ url('shows:show-list') }}">
                            {% if counters['shows'] == 1 %}
                                VUSTÚPENIE
                            {% elif counters['plays'] <= 4 %}
                                VYSTÚPENIA
                            {% else %}
                                VYSTÚPENÍ
                            {% endif %}
                        </a>
                    </span>
                </div>
            </div>

            <!-- Item -->
            <div class="col-xs-6 col-sm-3">
                <div class="count-number rotate">
                    8
                </div>
                <div class="count-descr">
                    <span class="count-title">
                        HODÍN PRÁCE
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- DIVIDER -->
<hr class="mt-0 mb-0">

<!-- BLOG 1 -->
<div class="page-section pt-110-b-30-cont grey-light-bg">
    <div class="container">

        <div class="mb-50">
            <h2 class="section-title pr-0">NAJNOVŠIE <span class="bold">SPRÁVY</span><a href="{{ url('blog:blogpost-list') }}" class="section-more right">NÁŠ BLOG</a>
                    </h2>
        </div>

        <div class="row">

            {% for blogpost in recent_blogposts %}
                <div class="col-sm-6 col-md-4 col-lg-4 wow fadeIn pb-70" data-wow-delay="{{ (loop.index - 1) * 200 }}ms" >
                    {{ macros.blogpost_preview(blogpost) }}
                </div>
            {% endfor %}

        </div>

    </div>
</div>

<!-- TESTIMONIALS 2 FULL WIDTH SLIDER -->
<div class="page-section pt-50-b-30-cont owl-white-bg  fullwidth-slider">
    <div class="owl-white-bg fullwidth-slider p-50-cont">

        {% for quote in actor_quotes %}

            {% set actor = quote.author %}

            <div class="container relative">
                <div class="row">

                    <div class="col-md-7">
                        <blockquote class="testimonial-2">
                            <p>{{ quote.text }}</p>
                        </blockquote>
                    </div>

                    <div class="col-md-4 col-md-offset-1">
                        <div class="ts-author-cont">
                            <div class="ts-author-info">
                                <div class="ts-name">
                                    <a href="{{ actor.get_absolute_url() }}">
                                        <span class="bold">{{ actor.full_name }}</span>
                                    </a>
                                </div>
                                <div class="ts-type">{{ actor.jobs }}</div>
                            </div>
                            <div class="ts-author-img">
                                <img src="{{ quote.author.photo.url }}" alt="photo" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
</div>

<!-- VIEW MORE  -->
<div class="port-view-more-cont">
    <a class="port-view-more" href="{{ url('actors:actor-list') }}">VŠETCI HERCI</a>
</div>

{% endblock %}

