{% macro breadcrumb_url(target_url, title) %}
    <a href="{{ target_url }}">{{ title }}</a>
    <span class="slash-divider">/</span>
{% endmacro %}

{% macro breadcrumb_plain(title) %}
    <span class="">{{ title }}</span>
    <span class="slash-divider">/</span>
{% endmacro %}

{% macro breadcrumb_current(title) %}
    <span class="bread-current">{{ title }}</span>
{% endmacro %}

{% macro blogpost_info(blogpost) %}
    <div class="post-prev-info">
        {{ _date(blogpost.posted|localtime, "d") }}
        {{ _date(blogpost.posted|localtime, "F")|capitalize }}
        <span class="slash-divider">/</span>
        <a href="{{ blogpost.author.get_absolute_url() }}">{{ blogpost.author.full_name }}</a>
    </div>
{% endmacro %}

{% macro blogpost_preview(blogpost) %}
    <div class="post-prev-img">
        <a href="{{ blogpost.get_absolute_url() }}"><img src="{{ get_thumbnail(blogpost.image, '600').url }}" alt="img"></a>
    </div>

    <div class="post-prev-title">
        <h3><a href="{{ blogpost.get_absolute_url() }}">{{ blogpost.title }}</a></h3>
    </div>

    {{ blogpost_info(blogpost) }}

    <div class="post-prev-text">
        {{ blogpost.intro }}
    </div>

    <div class="post-prev-more-cont clearfix">
        <div class="post-prev-more left">
            <a href="#" class="blog-more">ZOBRAZIŤ VIAC</a>
        </div>
        <div class="right" >
            <a href="blog-single-sidebar-right.html#comments" class="post-prev-count"><span aria-hidden="true" class="icon_comment_alt"></span><span class="icon-count">21</span></a>
            <a href="#" class="post-prev-count">
                <span aria-hidden="true" class="social_facebook"></span>
            </a>
        </div>
    </div>
{% endmacro %}