{% extends 'base.html' %}

{% block title %}Herci{% endblock %}
{% block meta_description %}Súčasní a bývalí herci Divadla FĽOČ v Hlohovci{% endblock %}
{% block page_title %}Herci{% endblock %}
{% block page_title_description %}Koho môžete na predstaveniach stretnúť{% endblock %}
{% block breadcrumbs %}
    {{ macros.breadcrumb_url(url('index'), 'Domov') }}
    {{ macros.breadcrumb_current('Herci') }}
{% endblock %}

{% macro is_active(actor) %}
    {% if actor.user.is_active %}
        active-actor
    {% else %}
        inactive-actor
    {% endif %}
{% endmacro %}

{% block content %}
<div class="container plr-30 pt-50 pb-40">
    <div class="relative">
        <!-- TEAM FILTER -->
        <div class="port-filter ">
            <a href="#" class="filter active" data-filter="*">Všetci</a>
            <a href="#" class="filter" data-filter=".active-actor">Súčasní</a>
            <a href="#" class="filter" data-filter=".inactive-actor">Bývalí</a>
        </div>

        <!-- ITEMS GRID -->
        <div class="clearfix" id="items-grid">
            <div class="row">

                {% for actor in actor_objects %}
                    <div
                        class="mix {{ is_active(actor) }} member col-md-4 col-sm-4 wow fadeInUp"
                        data-wow-delay="{{ (loop.index - 1) * 200}}ms"
                        id="{{ actor.user.username }}"
                    >
                        <div class="member-image">
                            <img src="{{ actor.photo.url }}" alt="img">
                        </div>
                        <h3>{{ actor.full_name }}</h3>
                        <span class="jobs">{{ actor.jobs }}</span>
                        <div class="actor-bio">
                            <p class="mb-30">{{ actor.bio }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
